

a{
  font-size: 10px;
  line-height: 1;
  height: 30px;
  font-weight: 50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
}
b{
  font-size:20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
}

.testing{
  font-size:15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
}
.testing2{
  font-size:25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
}
  .button1{border-radius:50%;border:0;background:transparent; margin-left: 15px; margin-right: 15px }
  .button2{border-radius:50%;border:0;background:transparent}
    select{
    background:transparent;
    border:0;
    color:white;
    font-size:15px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
  #loader {
      color: #008cff;
      height: 800px;
      left: 45%;
      position: absolute;
      top: 45%;
      width: 30%;
  }
.white_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'white';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.black_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'black';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.green_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'green';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.button3{
  transition-duration: 0.4s;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0, 255, 0); 
  color: black;

}
.button3:hover{
  cursor: pointer;
color: white;
background-color: green;
}
.button3:active{
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button4{
  transition-duration: 0.4s;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: red; 
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.button4:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(139, 0, 0);
}
.button4:active{
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button5{
    transition-duration: 0.4s;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: blueviolet; 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .button5:hover{
    cursor: pointer;
    color: white;
    background-color: blueviolet139, 0, 0;
  }
  .button5:active{
      background-color: blueviolet;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }