a{
    font-size: 32px;
  line-height: 1;
  height: 50px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  padding: 10px;
}

.beginSort{
    transition-duration: 0.4s;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(0, 255, 0); 
    color: black;
  
  }
  .beginSort:hover{
    cursor: pointer;
  color: white;
  background-color: green;
  }
  .beginSort:active{
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .backScreen{
    transition-duration: 0.4s;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: purple; 
    color: black;
  
  }
  .backScreen:hover{
    cursor: pointer;
  color: white;
  background-color: purple;
  }
  .backScreen:active{
    background-color: purple;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }