.white_grid_square {
    position: "absolute";
    width: 50;
    height: 50;
    background-color: 'white';
    border-width: 1;
    border-color: 'black';
    border-style: 'solid';
  }
  .black_grid_square {
    position: "absolute";
    width: 50;
    height: 50;
    background-color: 'black';
    border-width: 1;
    border-color: 'black';
    border-style: 'solid';
  }
  .green_grid_square {
    position: "absolute";
    width: 50;
    height: 50;
    background-color: 'green';
    border-width: 1;
    border-color: 'black';
    border-style: 'solid';
  }