

a{
  font-size: 32px;
  line-height: 1;
  height: 50px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white
}
b{
  font-size:15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
}

  .button1{border-radius:50%;border:0;background:transparent}
  .button2{border-radius:50%;border:0;background:transparent}
    select{
    background:transparent;
    border:0;
    color:white;
    font-size:15px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
  #loader {
      color: #008cff;
      height: 800px;
      left: 45%;
      position: absolute;
      top: 45%;
      width: 30%;
  }
.white_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'white';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.black_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'black';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.green_grid_square {
  position: "absolute";
  width: 50;
  height: 50;
  background-color: 'green';
  border-width: 1;
  border-color: 'black';
  border-style: 'solid';
}
.button3{
  transition-duration: 0.4s;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(23, 255, 23); 
  color: black;

}
.button3:hover{
  text-shadow: 2px 2px;
}
.button4{
  transition-duration: 0.4s;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: red; 
  color: black;

}
.button4:hover{
  text-shadow: 2px 2px;
}